## DB
POSTGRES_URL=postgresql://user:password@localhost:5432/dbname
PROD_POSTGRES_PASSWORD=your_production_password

# Logging
DEFAULT_LOG_LEVEL=debug
LOG_JSON_FORMAT=false            # Print everything in logger as json; false by default

###############################
#### Client Configurations ####
###############################

# Discord Configuration
DISCORD_APPLICATION_ID=your_discord_app_id
DISCORD_API_TOKEN=your_discord_bot_token
DISCORD_VOICE_CHANNEL_ID=your_voice_channel_id  # Optional
DISCORD_CHANNEL_ID=your_text_channel_id

#######################################
#### Model Provider Configurations ####
#######################################

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key  # Starting with sk-

# Anthropic Configuration
ANTHROPIC_API_KEY=your_anthropic_api_key  # For Claude

# OriginTrail DKG
DKG_ENVIRONMENT="testnet"  # Values: "development", "testnet", "mainnet"
DKG_HOSTNAME="your_dkg_hostname"
DKG_PORT="8900"
DKG_PUBLIC_KEY="your_dkg_public_key"
DKG_PRIVATE_KEY="your_dkg_private_key"
DKG_BLOCKCHAIN_NAME="base:84532"  # Values: (mainnet) "base:8453", "gnosis:100", "otp:2043" (testnet) "base:84532", "gnosis:10200", "otp:20430"

# Unstructured API Key
UNSTRUCTURED_API_KEY=your_unstructured_api_key

# Biontology API Key
BIONTOLOGY_KEY=your_biontology_api_key

# GCP
GCP_JSON_CREDENTIALS={"type": "service_account", "project_id": "your_project_id", ...}  # Your full GCP service account JSON
GOOGLE_DRIVE_FOLDER_ID= # the id of the folder where you want to dump the scientific

# Railway
RAILWAY_ENVIRONMENT_NAME=local

# Oxigraph
PROD_OXIGRAPH_HOST=http://oxigraph:7878 # railway
LOCAL_OXIGRAPH_HOST=your_local_oxigraph_host 